[submodule "FoodScanner-Android"]
	path = FoodScanner-Android
	url = git@github.com:AutaSoft/FoodScanner-Android.git
[submodule "FoodScanner-ML"]
	path = FoodScanner-ML
	url = git@github.com:AutaSoft/FoodScanner-ML.git
[submodule "FoodScanner-Backend"]
	path = FoodScanner-Backend
	url = git@github.com:AutaSoft/FoodScanner-Backend.git
[submodule "foodscanner_social_media"]
	path = foodscanner_social_media
	url = git@github.com:AutaSoft/foodscanner_social_media.git
